.specialization {
  text-align: center;
  padding: 20px;
}

.therapists-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.therapist-card {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 10px;
  padding: 20px;
  width: 300px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.therapist-card img {
  width: 100%;
  border-radius: 8px;
}

.therapist-card h2 {
  margin: 10px 0;
}

.therapist-card p {
  margin: 10px 0;
}

.therapist-card button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.therapist-card button:hover {
  background-color: #0056b3;
}
